{% extends "pages/profil/base.html" %}
{% load i18n %}
{% load language %}

{% activateLng 'fr'} 


{% block title_section %} /  {% trans "admin" %}  {% endblock %}
{% block title %}{% trans "menu profil changepassword" %} {% endblock %}
{% block progression %}
<a href="{{ cfg.base_url }}profil/">{% trans "menu profil" %}</a> /
{% trans "menu profil changepassword" %}  
{% endblock %}
{% block menu_left %}
			<h3>{% trans "menu profil" %}</h3>
			<ul class="nav">
				<li><span class="active">{% trans "menu profil changepassword" %}</span></li>
			</ul>
			
			<h3>{% trans "menu privileges" %}</h3>
			<ul class="nav">
				<li><a href="{{ cfg.base_url }}profil/rights">{% trans "menu profil rights" %}</a></li>
			</ul>
{% endblock %}

{% block content %}
	
	{% if success == 1%}
		<span class="success">
		{% trans "page profil form changepassword success" %}
		<BR><BR>
		</span>
	{% else %}
	<p>
		{% trans "page profil form changepassword intro"  %}
	</p>
	<br>
	<form name="changepassword" method="post" action="">{% csrf_token %}
		<table border="0">
			<tr>
				<td>
					<label for="password">
					{% trans "page profil form changepassword password" %} :
					</label>
				</td>		
				<td>
					<input type="password" value="" name="password" />
				</td>
			</tr>
			<tr>
				<td colspan="2" align="center">
					<br><br>
					<input type="submit" name="send" value="{% trans "edit" %}" />
				</td>		
			</tr>
		</table>	
	</form>
	{% endif %}	
{% endblock %}
