{% extends "pages/aide/base.html" %}
{% load i18n %}
{% load language %}

{% activateLng 'fr'} 


{% block title_section %} / {% trans "help" %}  {% endblock %}
{% block title %}{% trans "help" %}  {% endblock %}

{% block progression %}{% trans "help" %}  {% endblock %}

{% block menu_left %}
			<h3>{% trans "help" %}</h3>
			<ul class="nav">
				<li><a href="#{{ cfg.base_url }}administration/user/add">Aucune aide</a></li>
			</ul>
{% endblock %}

{% block content %}
	<p>
		{% trans "page aide intro" %}
	</p>
{% endblock %}
