{% extends  "frame.html" %}
{% load i18n %}
{% load language %}

{% activateLng 'fr'} 

{% block title %} {% trans "login" %} {% endblock %}

{% block content %}

<p>
	{% trans "page login text" %}
</p>

{% if success == 'false' %}
<p style="color:red;">
	{% trans "page login error" %}
<p>  
{% endif %}

<form method="post" action=".">
{% csrf_token %}
	<table>
		<tr><td><label for="id_username">{% trans "username" %} :</label></td><td><input type="text" name="username" value="" /></td></tr>
		<tr><td><label for="id_password">{% trans "password" %} :</label></td><td><input type="password" name="password" value="" /></td></tr>
		<tr>
			<td colspan="2" align="center">
				<br />
				<input type="submit" value="{% trans "login" %}" />
			</td>
		</tr>
	</table>
</form>
{% endblock %}
{% block menu %}
		<ul id="top-navigation">
			<li class="active"><span><span>{% trans "login" %}</span></span></li>
		</ul>
{% endblock %}
