{% extends "pages/profil_scenario/base.html" %}

{% load buildtcotreemesures %}
{% load i18n %}
{% load language %}
{% activateLng 'fr' %}


{% block title %} 
{% trans "menu mesures" %}
{% endblock %}

{% block progression %} 
<a href="{{ cfg.base_url }}profil_scenario/">{% trans "title profil_scenario" %}</a>
/
<a href="{{ cfg.base_url }}profil_scenario/{{ scenario_id }}/edit_scenario">{% trans "scenario" %}</a>
/
{% trans "page mesure scenario lst" %}
{% endblock %}

{% block content %}
	<!-- 
			<div class="table">
				<img src="/stylesheets/images/bg-th-left.gif" width="8" height="7" alt="" class="left" />
				<img src="/stylesheets/images/bg-th-right.gif" width="7" height="7" alt="" class="right" />
				<table class="listing" cellpadding="0" cellspacing="0">
					<tr>
						<th class="first" width="30">Num&eacute;ro</th>
						<th>Nom du scenario</th>
						<th>Nom du parametre</th>
						<th>{% trans "description" %}</th>
						<th>{% trans "edit" %}</th>
						<th class="last">Supprimer</th>
					</tr>
					{% for o in lst_mesures %}
					<tr>
						<td class="first style2">
						{{ o.id }}
						</td>
						<td>
						{{ o.scenario.nom }}
						</td>
						<td>
						{{ o.parametre.nomHypothese }}
						</td>
						<td>
						{{ o.description }}
						</td>
						<td>
							<a href="{{ cfg.base_url }}profil_scenario/{{ tco_id }}/scenario/{{ scenario_id }}/mesures/{{ o.id }}/edit">
								<img src="{{ cfg.base_url }}stylesheets/images/edit-icon.gif" width="16" height="16" alt="{% trans "edit" %}" />

							</a>
						</td>
						<td lass="last">
							<a href="{{ cfg.base_url }}profil_scenario/{{ tco_id }}/scenario/{{ scenario_id }}/mesures/{{ o.id }}/delete">
								<img src="{{ cfg.base_url }}stylesheets/images/delete.gif" width="16" height="16" alt="{% trans "delete" %}" />
							</a>
						</td>
					</tr>
					{% endfor %}
					{% if not lst_mesures %}
					<tr>
						<td class="first style2" colspan="6" align="center">
							<span style="text-align:center;display:block;">
							Aucune mesures.
							</span>
						</td>
					</tr>
					{% endif %}
					
				</table>
			</div>
			 -->
			<div class="section">
						<h2>{% trans "page mesure scenario lst" %}</h2>
		                <table border="0" cellspacing="3" cellpadding="0" align="right">
		                    <tr>
		                        <td width="80" align="left">
									<b>{% trans "total cost" %}</b>
		                        </td>
                                <td width="10">
                                    &nbsp;&nbsp;
                                </td>
		                        <td width="70" align="center">
									<b>{% trans "column mesure edit" %}</b>
		                        </td>
		                    </tr>
		                </table>
			</div>
			<div class="section">
				{% buildtcotreemesures cfg %}
			</div>
			
{% endblock %}

{% block menu_left %}
			<h3>{% trans "profil" %}</h3>
			<ul class="nav">
				<li><a href="{{ cfg.base_url }}profil_scenario/add" class="add">{% trans "menu profil add" %}</a></li>
				<li><a href="{{ cfg.base_url }}profil_scenario/">{% trans "menu profil lst" %}</a></li>
			</ul>
			
			<h3>{% trans "menu mesures" %}</h3>
			<ul class="nav">
				<!-- 
				<li><a href="{{ cfg.base_url }}profil_scenario/{{ cfg.profil_id }}/scenario/{{ cfg.scenario_id }}/mesures/add" class="add">{% trans "menu mesures add" %}</a></li>
				 -->
				<li>
				<span class="active">{% trans "page mesure scenario lst" %}</span>
				</li>
			</ul>
{% endblock %}
{% block javascript %}
  <script src="{{ cfg.base_url }}javascript/treeview/lib/jquery.js"></script>
  <link rel="stylesheet" href="{{ cfg.base_url }}javascript/treeview/jquery.treeview.css" type="text/css" />
  <script type="text/javascript" src="{{ cfg.base_url }}javascript/treeview/jquery.treeview.js"></script>
  <script>
  $(document).ready(function(){
    $("#example").treeview();
  });
  </script>
{% endblock  %}
