<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <title>Writer Example</title>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}resources/css/ext-all.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/example.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/app.css">

    <script type="text/javascript" src="{{ STATIC_URL }}ext-all-debug.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/extOutils.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/app/writer.js"></script>


</head>
<body>
{% csrf_token %}
	
<h1>protoEditor</h1>
<p>This example shows how to implement a Writer-enabled Store. It compose Ajax requests
to perform CRUD actions on a Store.</p>

<p>An <b>Error has been simulated</b> on the server-side:  
	Attempting to <b>created a record with the same name and for de name = '1'</b>.

Responses from the update action will have successProperty === false along with a message.  
This error can be handled by
listening to the <b>"exception"</b> event upon your proxy.</p>

</body>
</html>
