{% extends "baseExtjs.html" %}
{% block title %}proto Writer{% endblock %}
{% block extrahead %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/app/writer.js"></script>
{% endblock %}


{% block content %}
	
<h1>protoEditor</h1>
<p>This example shows how to implement a Writer-enabled Store. <br> 
It compose Ajax requests to perform CRUD actions on a Store.</p>

<p>An <b>Error has been simulated</b> on the server-side:<br>  
Attempting to <b>created a record with the same name and for de name = '1'</b><br>
Responses from the update action will have [successProperty] = false 
</p>

{% endblock %}