{% extends "baseExtjs.html" %}
{% block title %}Login{% endblock %}

{% block content %}
     <center>
     {% block branding %}
     <br><br>
        <span class="menulogo">ProtoExt ULaval CeRTAE</span>
     <br><br>
    {% endblock %}
    
    <div id="test"></div>
    <div id="login"></div>
           
    <div style="color:darkgrey;font-size:10px">
        CeRTAE <a style="color:darkgrey;font-size:10px"  href='http://www.certae.com/' target='_blank'>certae.com</a> ©2012
    </div>
<!-- 	<script type="text/javascript" src="{{ STATIC_URL }}js/login/Ext.ux.Login.js"></script> -->
	<script type="text/javascript" src="{{ STATIC_URL }}js/login/protoLogin.js"></script>
    
    <script type="text/javascript">

    Ext.onReady(function() {
        Ext.QuickTips.init();

        var form = new ProtoUL.ux.Login({
           renderTo:'login'
           ,username:'{{ username }}'
        });

        form.render("login");
    });

    </script>
</center>

{% endblock %}
