{% extends "pages/administration/base.html" %}
{% load i18n %}
{% load language %}

{% activateLng 'fr'} 

{% block title_section %} Profil et sc&eacute;nario {% endblock %}
{% block title %}
	{% trans "menu admin user add" %}
 {% endblock %}

{% block progression %}
	<a href="{{ cfg.base_url }}administration"> {% trans "admin" %} </a> /
	<a href="{{ cfg.base_url }}administration/user"> {% trans "menu admin user title" %} </a> /
	{% trans "menu admin user add" %}
 {% endblock %}
{% block content %}
	{% if success == 0 %}
		<div class="form">
			<form name="tco" method="post" action="">{% csrf_token %}
				{% if form.errors %}
					<style type="text/css">
						{% if form.username.errors %}#id_username { border:1px solid red;  }{% endif  %}
						{% if form.password.errors %}#id_password { border:1px solid red;  }{% endif  %}
						{% if form.email.errors %}#id_email { border:1px solid red;  }{% endif  %}
					</style>
				{% endif %}
				<fieldset style="padding:10px;">
					<legend style="padding:5px;">{% trans "general information" %}</legend>
					<table border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td width="150" align="right" valign="top"><label for="id_username">{% trans "username" %}</label></td>
							<td width="10" align="center" valign="top">:</td>
							<td align="left">{{ form.username }}</td>
							<td align="left">{{ form.username.errors }}</td>
						</tr>				
						<tr>
							<td width="150" align="right" valign="top"><label for="id_password">{% trans "password" %}</label></td>
							<td width="10" align="center" valign="top">:</td>
							<td align="left">{{ form.password }}</td>
							<td align="left">{{ form.password.errors }}</td>
						</tr>	
						<tr>
							<td width="150" align="right" valign="top"><label for="id_email">{% trans "email" %}</label></td>
							<td width="10" align="center" valign="top">:</td>
							<td align="left">{{ form.email }}</td>
							<td align="left">{{ form.email.errors }}</td>
						</tr>
						<tr>
							<td width="150" align="right" valign="top"><label for="id_superuser">{% trans "right superuser" %}</label></td>
							<td width="10" align="center" valign="top">:</td>
							<td align="left">{{ form.superuser }}</td>
							<td align="left">{{ form.superuser.errors }}</td>
						</tr>
					</table>
					</fieldset>
					<br>
				<fieldset style="padding:10px;">
					<legend style="padding:5px;">{% trans "rights" %}</legend>
						<table class="listing" cellpadding="0" cellspacing="0" border="0" style="width:550px;">
						<tr>
							<th class="first">{% trans "right" %}</th>
							<th>{% trans "read" %}</th>
							<th class="last">{% trans "write" %}</th>
						</tr>
						<tr>
							<td width="70" align="left" valign="top" class="first style2"><label>{% trans "right tco" %}</label></td>
							<td width="50" align="center">{{ form.tco_right_read }}</td>
							<td width="50" align="center">{{ form.tco_right_write }}</td>
						</tr>				
						<tr>
							<td width="70" align="left" valign="top" class="first style2"><label>{% trans "right parameter" %}</label></td>
							<td width="50" align="center">{{ form.param_right_read }}</td>
							<td width="50" align="center">{{ form.param_right_write }}</td>
						</tr>	
						<tr>
							<td width="70" align="left" valign="top" class="first style2"><label>{% trans "right profil" %}</label></td>
							<td width="50" align="center">{{ form.profil_right_read }}</td>
							<td width="50" align="center">{{ form.profil_right_write }}</td>
						</tr>	
						<tr>
							<td width="70" align="left" valign="top" class="first style2"><label>{% trans "right scenario" %}</label></td>
							<td width="50" align="center">{{ form.scenario_right_read }}</td>
							<td width="50" align="center">{{ form.scenario_right_write }}</td>
						</tr>	
						<tr>
							<td width="70" align="left" valign="top" class="first style2"><label>{% trans "right mesure" %}</label></td>
							<td width="50" align="center">{{ form.mesure_right_read }}</td>
							<td width="50" align="center">{{ form.mesure_right_write }}</td>
						</tr>
						<tr>
							<td width="70" align="left" valign="top" class="first style2"><label>{% trans "right rapport" %}</label></td>
							<td width="50" align="center">{{ form.rapport_right_read }}</td>
							<td width="50" align="center"></td>
						</tr>	
					</table>
					</fieldset>
					<table border="0" cellspacing="0" cellpadding="0">	
					<tr>
						<td align="center" colspan="4">
							<br>
							<table align="center">
								<tr>
									<td>
										<input type="submit" value="{% trans "add" %}" />
									</td>
									<td>
										<input type="submit" name="action" value="{% trans "cancel" %}" />
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</form>
		</div>
	{% else %}
		<span class="success">{% trans "form user add success" %}</span>
		<br>
		<br>
		<br>
		<form name="tco_lst" method="get" action="{{ cfg.base_url }}administration/user/">
			<input type="submit" value="{% trans "form user back lst" %}" />
		</form>
	{% endif %}
{% endblock %}
