{% load i18n %}
{% load language %}
{% activateLng 'fr' %}

			<div class="table">
				<img src="/stylesheets/images/bg-th-left.gif" width="8" height="7" alt="" class="left" />
				<img src="/stylesheets/images/bg-th-right.gif" width="7" height="7" alt="" class="right" />
				<table class="listing" cellpadding="0" cellspacing="0">
					<tr>
						<th>{% trans "hypothese name" %}</th>
						<th>{% trans "free" %}?</th>
						<th>{% trans "description" %}</th>
						<th class="last"></th>
					</tr>
					{% for o in lst_tco_parametres %}
					<tr>
						<td>
						{{ o.nomHypothese }}..
						</td>
						<td>
						{%  if o.libre_proprietaire  %}
							Oui
						{% else %}
							Non
						{% endif %}
						</td>
						<td>
						{{ o.description }}
						</td>
						<td class="last">
							<a href="javascript:tcoParametreSelected({{ o.id }});" style="text-decoration:underline;font-size:12px;font-weight:bold;">
								Choisir
							</a>
						</td>
					</tr>
					{% endfor %}
					{% if not lst_tco_parametres %}
					<tr>
						<td class="first style2" colspan="6" align="center">
							<span style="text-align:center;display:block;">
							Aucun param&egrave;tres.
							</span>
						</td>
					</tr>
					{% endif %}
					
				</table>
			</div>