{% extends "pages/profil_scenario/base.html" %}
{% load i18n %}
{% load language %}

{% activateLng 'fr' %}


{% block content %}
	{% if request.method == 'GET' %}
		<div class="form">
			<form name="delete" method="post" action="">{% csrf_token %}
				<input type="hidden" name="action" value="delete" />
				<span class="warning">
				{% trans "page mesures delete" %}
				</span>
				<br>
				<br>
				<input type="hidden" name="action" value="delete" />
				<input type="hidden" name="tco_id" value="{{ tco_id }}" />
				
				
				<input type="submit" value="Supprimer">
				<input type="submit" name="action" value="Annuler">
			</form>
		</div>
	{% else %}
		<span class="success">{% trans "form mesures delete success" %}</span>
		<br>
		<br>
		<br>
		<form name="tco_lst" method="get" action="{{ cfg.base_url }}profil_scenario/{{ cfg.profil_id }}/scenario/{{ cfg.scenario_id }}/mesures">
			<input type="submit" value="{% trans "form mesures back lst" %}" />
		</form>
	{% endif %}
{% endblock %}

{% block progression %} 
<a href="{{ cfg.base_url }}profil_scenario/">{% trans "title profil_scenario" %}</a>
/
<a href="{{ cfg.base_url }}profil_scenario/{{ scenario_id }}/edit_scenario">{% trans "scenario" %}</a>
/

<a href="{{ cfg.base_url }}profil_scenario/{{ scenario_id }}/mesures">{% trans "menu mesures" %}</a>
/
{% trans "menu mesures delete" %}

{% endblock %}

{% block title %} 
{% trans "menu mesures delete" %}
{% endblock %}

{% block menu_left %}
			<h3>{% trans "profil" %}</h3>
			<ul class="nav">
				<li><a href="{{ cfg.base_url }}profil_scenario/add" class="add">{% trans "menu profil add" %}</a></li>
				<li><a href="{{ cfg.base_url }}profil_scenario/">{% trans "menu profil lst" %}</a></li>
			</ul>
			
			<h3>{% trans "menu mesures" %}</h3>
			<ul class="nav">
				<li><span class="active">{% trans "menu mesures add" %}</span></li>
				<li><a href="{{ cfg.base_url }}profil_scenario/{{ cfg.profil_id }}/scenario/{{ cfg.scenario_id }}/mesures" class="list">{% trans "menu mesures lst" %}</a></li>
			</ul>
			
{% endblock %}