{% extends "pages/tco/base.html" %}
{% load i18n %}
{% load language %}

{% activateLng 'fr' %}


{% block content %}
	{% if request.method == 'GET' %}
		<div class="form">
			<form name="delete" method="post" action="">{% csrf_token %}
				<input type="hidden" name="action" value="delete" />
				<span class="warning">
				Voulez-vous vraiment supprimer ce TCO?
				<br />(* Tous les param&egrave;tres associ&eacute;s seront supprim&eacute;s.)
				</span>
				<br>
				<br>
				<input type="hidden" name="action" value="delete" />
				<input type="hidden" name="tco_id" value="{{ tco_id }}" />
				
				
				<input type="submit" value="Supprimer">
				<input type="submit" name="action" value="Annuler">
			</form>
		</div>
	{% else %}
		<span class="success">{% trans "form tco delete success" %}</span>
		<br>
		<br>
		<br>
		<form name="tco_lst" method="get" action="{{ cfg.base_url }}tco">
			<input type="submit" value="{% trans "form tco back to tco list" %}">
		</form>
	{% endif %}
{% endblock %}

{% block progression %} 
<a href="{{ cfg.base_url }}tco/">{% trans "tco" %}</a> /
{% trans "menu tco delete" %} {% endblock %}

{% block title %} 
{% trans "menu tco delete" %} 
{% endblock %}

{% block menu_left %}
			<h3>{% trans "tco" %}</h3>
			<ul class="nav">
				<li><a href="{{ cfg.base_url }}tco/add" class="add">{% trans "menu tco add" %}</a>
				<li><a href="{{ cfg.base_url }}tco/">{% trans "menu tco lst" %}</a></li>
			</ul>
{% endblock %}