{% extends "pages/tco/base.html" %}
{% load buildtcotree %}
{% load i18n %}
{% load language %}

{% activateLng 'fr' %}

{% block progression %} <a href="{{ cfg.base_url }}tco/">{% trans "tco" %}</a>   {% endblock %}
{% block title %}{% trans "tco" %}{% endblock %}

{% block content %}
	<!-- 
	<div class="section">
		<table border=0 width=100%>
			<tr>
				<td valign="top">
					<p>
						{% trans "page tco_lst intro" %}
					</p>
				</td>
				<td valign="top" style="padding-left:10px;">
				
                <table border="1" cellspacing="3" cellpadding="3" align="right" width=180>
                	<tr>
                		<td colspan="2"><h2 style="text-align:center;">{% trans "legend" %}</h2></td>
                	</tr>
                    <tr>
                        <td width="20" align="center">
							<img src="{{ cfg.base_url }}images/add.gif" width="16" height="16" alt="Ajouter un enfant" title="Ajouter un &eacute;l&eacute;ment en dessous" />
                        </td>
                        <td>
							{%trans "legend tco add" %}
                        </td>
                    </tr>
                    <tr>
                        <td width="20" align="center">
							<img src="{{ cfg.base_url }}stylesheets/images/edit-icon.gif" width="16" height="16"  alt="Modifier" title="Modifier" />
                        </td>
                        <td>
							{%trans "legend tco edit" %}
                        </td>
                    </tr>
                    <tr>
                        <td width="20" align="center">
		                    <img src="{{ cfg.base_url }}images/delete.gif" width="16" height="16" alt="Supprimer" title="Supprimer" >
                        </td>
                        <td>
							{% trans "legend tco delete" %}
                        </td>
                    </tr>
                    <tr>
                        <td width="20" align="center">
                        	<img src="/images/zoom.gif" border="0" width="16" height="16"  alt="Voir les param&egrave;tres" title="Voir les param&egrave;tres" />
                        </td>
                        <td>
							{% trans "legend tco parameter" %}
                        </td>
                    </tr>
                                        <tr>
                        <td width="20" align="center">
                        	<img src="{{ cfg.base_url }}images/up.gif" width="16" height="16" alt="Monter d'un niveau" title="Monter d'un niveau" />
                        </td>
                        <td>
							{% trans "legend tco moveup" %}
                        </td>
                    </tr>
                                        <tr>
                        <td width="20" align="center">
                        	<img src="{{ cfg.base_url }}images/down.gif" width="16" height="16" title="Descendre d'un niveau" alt="Descendre d'un niveau" />
                        </td>
                        <td>
							{% trans "legend tco movedown" %}
                        </td>
                    </tr>
                                        <tr>
                        <td width="20" align="center">
                        	<img src="{{ cfg.base_url }}images/move_under.gif" width="16" height="16" title="Deplacer le noeud" alt="Deplacer le noeud" />
                        </td>
                        <td>
							{% trans "legend tco moveunder" %}
                        </td>
                    </tr>
                </table>
               </td>
            </tr>
          </table>
          <br>
          <div class="hr"></div>
          <br>
          
	</div>
	-->
	<div class="section">
				<h2>{% trans "page tco lst" %}</h2>
                <table border="0" cellspacing="0" cellpadding="0" align="right">
                    <tr>
                        <td width="60" align="center">
							Actions
                        </td>
                    </tr>
                </table>
	</div>
	<div class="section">
		{% buildtcotree tree_lst_tco %}
	</div>
	
{% endblock %}


{% block menu_left %}
			<h3>{% trans "tco" %}</h3>
			<ul class="nav">
				<li><a href="{{ cfg.base_url }}tco/add" class="add">{% trans "menu tco add" %}</a></li>
				<li><span class="active" class="add">{% trans "menu tco lst" %}</span></li>
			</ul>
{% endblock %}
{% block javascript  %}
  <script src="{{ cfg.base_url }}javascript/treeview/lib/jquery.js"></script>
  <link rel="stylesheet" href="{{ cfg.base_url }}javascript/treeview/jquery.treeview.css" type="text/css" />
  <script type="text/javascript" src="{{ cfg.base_url }}javascript/treeview/jquery.treeview.js"></script>
  <script>
  $(document).ready(function(){
    $("#example").treeview();
  });
  </script>


{% endblock  %}

